.restaurant-container {
    min-height: inherit;
    align-content: center;
}

.table-container {
    background-color: white;
}

.restaurant-header {
    margin-top: 2%;
    background-color: darkred;
}