.restaurant-container {
    min-height: inherit;
    align-content: center;
}

.table-container {
    background-color: white;
}

.restaurant-header {
    margin-top: 2%;
}

.create-restaurant-container {
    background-color: white;
    padding: 1%;
    margin-top: 5%;
}

.create-button {
    margin-top: 5%;
}

.submits {
    margin: 1%;
}